.menu {
    display: grid;
    grid-template-rows: 1fr 1fr;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;

    backdrop-filter: brightness(.3) blur(10px);
}

.menu-top {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pic {
    width: 15rem;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 10%;
}

.menu-bottom {
    display: flex;
    align-items: start;
    justify-content: center;
}

.menu-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 15rem;
    padding-inline: 2rem;
}

.menu-links {
    list-style-type: none;
}

svg {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 3.5rem;
    height: 3.5rem;
}

.menu-btn  {
    width: 100% !important;
    height: 3rem !important;
    border: none;
    border-radius: 5px;
}

.footer {
    display: flex;
    justify-content: space-around;
}


.menu[data-open="false"] {
    display: none;
}
.menu[data-open="true"] .game {
    pointer-events: none;
    user-select: none;
}