{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>

    <link rel="stylesheet" href="{% static 'styles/general.css' %}">
    <link rel="stylesheet" href="{% static 'styles/profile.css' %}">
    <link rel="stylesheet" href="{% static 'styles/settings.css' %}">

    <script src="{% static 'scripts/profile.js' %}" defer></script>
    <script src="{% static 'scripts/sorting.js' %}" defer></script>
</head>
    <body>
        
        <div class="profile">
            <div class="message">
                <div>
                    <svg><use xlink:href="#ico-warning"></use></svg>
                    <p>New password shouldn't be the same as the old password</p>
                </div>
                <div>
                    <hr>
                    <svg><use xlink:href="#ico-cross"></use></svg>
                </div>
            </div>

            <div class="sidebar-wrapper">
                <div class="sidebar">
                    <ul>
                        <li class="sidebar-item" data-selected="true">P</li>
                        <li class="sidebar-item" data-selected="false">S</li>
                        <li class="sidebar-item" data-selected="false">E</li>
                        <li class="sidebar-item" data-selected="false">H</li>
                    </ul>
                </div>
            </div>

            <div class="wrapper">
    
                <div class="body">

                    <div class="profile-s section">
                        <!-- <h1>Profile</h1> -->
                        <div class="section-wrapper">
                            <div class="profile-card card">
                                <img src="{% static 'pics/pfp/placeholder.png' %}" alt="pfp" class="profile-pic">
                                <p class="username">{{user.username}}</p>
                                <p class="email">{{user.email}}</p>
                                <div class="profile-card-content">
                                    <p class="attempts" id="attempts">
                                        <label for="attempts">Today's attempts</label>
                                        {% if word.wrong_attempts %}
                                        {% for i in word.wrong_attempts %}
                                        {{i}}
                                        {% endfor %}
                                        {% else %}
                                        No attempts
                                        {% endif %}
                                    </p>
                                    <p class="words" id="words">
                                        <label for="words">Number of found words</label>
                                        {{ found_words.count }}
                                    </p>
                                    <p class="balance" id="balance">
                                        <label for="balance">Balance</label>
                                        {{ user.balance }}
                                    </p>
                                    <p class="winlose" id="winlose">
                                        <label for="balance">Win/Lose</label>
                                        12/5
                                    </p>
                                </div>
                            </div>

                            <div class="stats-wrapper">
                                <div class="attempts-stats-wrapper" id="attempts-stats">
                                    
                                    <div class="attempts-min card attempts-stat">
                                        <label for="attempt-num">Min</label>
                                        <p class="attempt-num" id="attempt-num">2</p>
                                    </div>
                                    <div class="attempts-avg card attempts-stat">
                                        <label for="attempt-num">Avg</label>
                                        <p class="attempt-num" id="attempt-num">5</p>
                                    </div>
                                    <div class="attempts-max card attempts-stat">
                                        <label for="attempt-num">Max</label>
                                        <p class="attempt-num" id="attempt-num">8</p>
                                    </div>
                                </div>
                                
                                <div class="stats-card card">
                                    <div class="stats-menu">
                                        <p class="stats-menu-item" data-selected="true">Found words</p>
                                        <p class="stats-menu-item" data-selected="false">Leaderboard</p>
                                    </div>

                                    <div class="found-words stats-page">
                                        <div class="stats-page-wrapper">

                                            <div class="filter-wrapper">
                                                <h3>Sort by</h3>
    
                                                <ul class="leaderboard-filter filter">
    
                                                    <li class="stats-filter-item" data-selected="true">
                                                        <p>Time</p>
                                                        <div class="select">
                                                            <div class="select-icon">
                                                                <svg><use xlink:href="#ico-updown"></use></svg>
                                                            </div>
                                                            <ul class="options-list">
                                                                <li class="selected">Ascending</li>
                                                                <li>Descending</li>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                    <li class="stats-filter-item" data-selected="false">
                                                        <p>Length</p>
                                                        <div class="select">
                                                            <div class="select-icon">
                                                                <svg><use xlink:href="#ico-updown"></use></svg>
                                                            </div>
                                                            <ul class="options-list">
                                                                <li class="selected">Ascending</li>
                                                                <li>Descending</li>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                    <li class="stats-filter-item" data-selected="false">
                                                        <p>Wrong attempts</p>
                                                        <div class="select">
                                                            <div class="select-icon">
                                                                <svg><use xlink:href="#ico-updown"></use></svg>
                                                            </div>
                                                            <ul class="options-list">
                                                                <li class="selected">Ascending</li>
                                                                <li>Descending</li>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                    <li class="stats-filter-item" data-selected="false">
                                                        <p>Profit</p>
                                                        <div class="select">
                                                            <div class="select-icon">
                                                                <svg><use xlink:href="#ico-updown"></use></svg>
                                                            </div>
                                                            <ul class="options-list">
                                                                <li class="selected">Ascending</li>
                                                                <li>Descending</li>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                            

                                            {% if user.words %}
                                            <div class="table-wrapper">
                                                <table class="leaderboard-table">
                                                    <thead>
                                                        <tr>
                                                            <th>No</th>
                                                            <th>Name</th>
                                                            <th>No of found wrods</th>
                                                        </tr>
                                                    </thead>
    
                                                    <tbody>
                                                        <tr>
                                                            <td>1</td>
                                                            <td>rude</td>
                                                            <td><strong>96</strong></td>
                                                        </tr>
                                                        <tr>
                                                            <td>1</td>
                                                            <td>rude</td>
                                                            <td><strong>96</strong></td>
                                                        </tr>
                                                        <tr>
                                                            <td>1</td>
                                                            <td>rude</td>
                                                            <td><strong>96</strong></td>
                                                        </tr>
                                                        <tr>
                                                            <td>1</td>
                                                            <td>rude</td>
                                                            <td><strong>96</strong></td>
                                                        </tr>
                                                        <tr>
                                                            <td>1</td>
                                                            <td>rude</td>
                                                            <td><strong>96</strong></td>
                                                        </tr>
                                                        <tr class="self">
                                                            <td>56.7%</td>
                                                            <td>nighty</td>
                                                            <td>11</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            {% else %}
                                            <div class="no-data">No data found</div>
                                            {% endif %}
                                        </div>

                                    </div>
    
                                    <div class="leaderboard stats-page">
                                        <div class="stats-page-wrapper">

                                            <div class="filter-wrapper">
                                                <h3>Sort by</h3>
                                                <ul class="leaderboard-filter filter">
                                                    <li class="leaderboard-filter-item" data-selected="true">No of found words</li>
                                                    <li class="leaderboard-filter-item" data-selected="false">Balance</li>
                                                    <li class="leaderboard-filter-item" data-selected="false">W/L</li>
                                                    <li class="leaderboard-filter-item" data-selected="false">Wrong attempts</li>
                                                </ul>
                                                
                                            </div>

                                            <div class="table-wrapper table-words">
                                                <table class="leaderboard-table">
                                                    <thead>
                                                        <tr>
                                                            <th>No</th>
                                                            <th>Name</th>
                                                            <th>No of found wrods</th>
                                                        </tr>
                                                    </thead>
    
                                                    <tbody>
                                                        <tr>
                                                            <td>1</td>
                                                            <td>rude</td>
                                                            <td><strong>96</strong></td>
                                                        </tr>
                                                        <tr>
                                                            <td>1</td>
                                                            <td>rude</td>
                                                            <td><strong>96</strong></td>
                                                        </tr>
                                                        <tr>
                                                            <td>1</td>
                                                            <td>rude</td>
                                                            <td><strong>96</strong></td>
                                                        </tr>
                                                        <tr>
                                                            <td>1</td>
                                                            <td>rude</td>
                                                            <td><strong>96</strong></td>
                                                        </tr>
                                                        <tr>
                                                            <td>1</td>
                                                            <td>rude</td>
                                                            <td><strong>96</strong></td>
                                                        </tr>
                                                        <tr class="self">
                                                            <td>56.7%</td>
                                                            <td>nighty</td>
                                                            <td>11</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                            <!-- <div class="table-wrapper">
                                                <table class="leaderboard-table">
                                                    <thead>
                                                        <tr>
                                                            <th>No</th>
                                                            <th>Name</th>
                                                            <th>Balance</th>
                                                        </tr>
                                                    </thead>

                                                    <tbody>
                                                        <tr>
                                                            <td>1</td>
                                                            <td>rude</td>
                                                            <td><strong>1234</strong></td>
                                                        </tr>
                                                        <tr>
                                                            <td>1</td>
                                                            <td>rude</td>
                                                            <td><strong>1234</strong></td>
                                                        </tr>
                                                        <tr>
                                                            <td>1</td>
                                                            <td>rude</td>
                                                            <td><strong>1234</strong></td>
                                                        </tr>
                                                        <tr>
                                                            <td>1</td>
                                                            <td>rude</td>
                                                            <td><strong>1234</strong></td>
                                                        </tr>
                                                        <tr>
                                                            <td>1</td>
                                                            <td>rude</td>
                                                            <td><strong>1234</strong></td>
                                                        </tr>
                                                        <tr class="self">
                                                            <td>10.1%</td>
                                                            <td>nighty</td>
                                                            <td>116</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="table-wrapper">
                                                <table class="leaderboard-table">
                                                    <thead>
                                                        <tr>
                                                            <th>No</th>
                                                            <th>Name</th>
                                                            <th>W/L</th>
                                                        </tr>
                                                    </thead>

                                                    <tbody>
                                                        <tr>
                                                            <td>1</td>
                                                            <td>rude</td>
                                                            <td><strong>2.5</strong></td>
                                                        </tr>
                                                        <tr>
                                                            <td>1</td>
                                                            <td>rude</td>
                                                            <td><strong>2.5</strong></td>
                                                        </tr>
                                                        <tr>
                                                            <td>1</td>
                                                            <td>rude</td>
                                                            <td><strong>2.5</strong></td>
                                                        </tr>
                                                        <tr>
                                                            <td>1</td>
                                                            <td>rude</td>
                                                            <td><strong>2.5</strong></td>
                                                        </tr>
                                                        <tr>
                                                            <td>1</td>
                                                            <td>rude</td>
                                                            <td><strong>2.5</strong></td>
                                                        </tr>
                                                        <tr class="self">
                                                            <td>44.7%</td>
                                                            <td>nighty</td>
                                                            <td>1.2</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="table-wrapper">
                                                <table class="leaderboard-table">
                                                    <thead>
                                                        <tr>
                                                            <th>No</th>
                                                            <th>Name</th>
                                                            <th>Avg attempts</th>
                                                        </tr>
                                                    </thead>

                                                    <tbody>
                                                        <tr>
                                                            <td>1</td>
                                                            <td>rude</td>
                                                            <td><strong>23.4</strong></td>
                                                        </tr>
                                                        <tr>
                                                            <td>1</td>
                                                            <td>rude</td>
                                                            <td><strong>23.4</strong></td>
                                                        </tr>
                                                        <tr>
                                                            <td>1</td>
                                                            <td>rude</td>
                                                            <td><strong>23.4</strong></td>
                                                        </tr>
                                                        <tr>
                                                            <td>1</td>
                                                            <td>rude</td>
                                                            <td><strong>23.4</strong></td>
                                                        </tr>
                                                        <tr>
                                                            <td>1</td>
                                                            <td>rude</td>
                                                            <td><strong>23.4</strong></td>
                                                        </tr>
                                                        <tr class="self">
                                                            <td>55.7%</td>
                                                            <td>nighty</td>
                                                            <td>52.5</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div> -->
                                            

                                            <!-- <div class="top10">
                                                <p class="user">1. rude 89</p>
                                                <p class="user">2. KingLion 87</p>
                                                <p class="user">3. Aiden 80</p>
                                                <p class="user">4. McKnight 76</p>
                                                <p class="user">5. Wolf 73</p>
                                                <p class="user">6. Nighty 69</p>
                                                <p class="user">7. Sisco 66</p>
                                                <p class="user">8. amogus 65</p>
                                                <p class="user">9. Ferg 65</p>
                                                <p class="user">10. Yum 62</p>
                                            </div> 
                                            <p class="self">56.8% hajime 11</p> -->
                                        </div>
                                    </div>
                                </div>

                            </div>
    
                        </div>
                        
                    </div>
    


                    <div class="settings section">
                
                        <div class="settings-wrapper">
                            <div class="account-settings">

                                <div class="change-pfp">
                                    <img src="{% static 'pics/pfp/placeholder.png' %}" alt="pfp">
                                    <p>JPG or PNG no more than 5 mb</p>
                                    <!-- <button class="change-pfp-btn btn">Change</button> -->
                                </div>

                                <form action="/profile/change/" method="post" class="change-form"> {% csrf_token %}
                                    <div class="input">
                                        <input type="text" name="username" placeholder=" ">
                                        <span>Username</span>
                                    </div>
                                    <div class="input">
                                        <input type="email" name="email" placeholder=" ">
                                        <span>E-mail</span>
                                    </div>
                                    <div class="input">
                                        <input type="password" name="oldpsw" placeholder=" ">
                                        <span>Old password</span>
                                    </div>
                                    <div class="input-group">
                                        <div class="input">
                                            <input type="password" name="newpsw" placeholder=" ">
                                            <span>New password</span>
                                        </div>
                                        <div class="input">
                                            <input type="password" name="newpswconf" placeholder=" ">
                                            <span>Confirm new password</span>
                                        </div>
                                    </div>
                                </form>
                                <div class="privacy-settings" id="privacy-settings">
                                    <label for="privacy-settings">Privacy</label>

                                    <div class="privacy-input">
                                        <label for="show-profile">Show profile</label>
                                        <input type="checkbox" id="show-profile" name="show-profile" {% if user.show_profile %}checked{% endif %}>
                                    </div>
                                    <div class="privacy-input">
                                        <label for="show-stats">Show stats</label>
                                        <input type="checkbox" id="show-stats" name="show-stats" {% if user.show_stats %}checked{% endif %}>
                                    </div>
                                    <div class="privacy-input">
                                        <label for="show-balance">Show balance</label>
                                        <input type="checkbox" id="show-balance" name="show-balance" {% if user.show_balance %}checked{% endif %}>
                                    </div>

                                    <div class="settings-buttons">
                                        <button class="btn">Save</button>
                                        <a href="/profile/delete/"><button class="btn">Delete profile</button></a>
                                    </div>
                                </div>
                            </div>

                            <div class="game-settings">
                                <div class="game-settings-wrapper">
                                    <div class="game-input">
                                        <label for="notification">Enable notifications</label>
                                        <input type="checkbox" id="notification" name="notification">
                                    </div>
                                    <div class="game-input">
                                        <label for="notification">Enable notifications</label>
                                        <input type="checkbox" id="notification" name="notification">
                                    </div>
                                    <div class="game-input">
                                        <label for="notification">Enable notifications</label>
                                        <input type="checkbox" id="notification" name="notification">
                                    </div>
                                    <div class="game-input">
                                        <label for="notification">Enable notifications</label>
                                        <input type="checkbox" id="notification" name="notification">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
    
                    <div class="exchange section">
                        <h1>Exchange</h1>
                    </div>
    
                    <div class="help section">
                        <h1>Help</h1>
                    </div>
                </div>
            </div>

        </div>

        <svg width="0" height="0" class="hidden">
            <symbol fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="ico-updown">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                  <path d="M5.70711 16.1359C5.31659 16.5264 5.31659 17.1596 5.70711 17.5501L10.5993 22.4375C11.3805 23.2179 12.6463 23.2176 13.4271 22.4369L18.3174 17.5465C18.708 17.156 18.708 16.5228 18.3174 16.1323C17.9269 15.7418 17.2937 15.7418 16.9032 16.1323L12.7176 20.3179C12.3271 20.7085 11.6939 20.7085 11.3034 20.3179L7.12132 16.1359C6.7308 15.7454 6.09763 15.7454 5.70711 16.1359Z" fill="#0F0F0F"></path>
                  <path d="M18.3174 7.88675C18.708 7.49623 18.708 6.86307 18.3174 6.47254L13.4252 1.58509C12.644 0.804698 11.3783 0.805008 10.5975 1.58579L5.70711 6.47615C5.31658 6.86667 5.31658 7.49984 5.70711 7.89036C6.09763 8.28089 6.7308 8.28089 7.12132 7.89036L11.307 3.70472C11.6975 3.31419 12.3307 3.31419 12.7212 3.70472L16.9032 7.88675C17.2937 8.27728 17.9269 8.27728 18.3174 7.88675Z" fill="#0F0F0F"></path>
                </g>
            </symbol>

            <symbol fill="#fff" version="1.1" id="ico-error" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" viewBox="0 0 511.76 511.76">
                <g>
                  <g>
                    <path d="M436.896,74.869c-99.84-99.819-262.208-99.819-362.048,0c-99.797,99.819-99.797,262.229,0,362.048
                        c49.92,49.899,115.477,74.837,181.035,74.837s131.093-24.939,181.013-74.837C536.715,337.099,536.715,174.688,436.896,74.869z
                         M361.461,331.317c8.341,8.341,8.341,21.824,0,30.165c-4.16,4.16-9.621,6.251-15.083,6.251c-5.461,0-10.923-2.091-15.083-6.251
                        l-75.413-75.435l-75.392,75.413c-4.181,4.16-9.643,6.251-15.083,6.251c-5.461,0-10.923-2.091-15.083-6.251
                        c-8.341-8.341-8.341-21.845,0-30.165l75.392-75.413l-75.413-75.413c-8.341-8.341-8.341-21.845,0-30.165
                        c8.32-8.341,21.824-8.341,30.165,0l75.413,75.413l75.413-75.413c8.341-8.341,21.824-8.341,30.165,0
                        c8.341,8.32,8.341,21.824,0,30.165l-75.413,75.413L361.461,331.317z"></path>
                  </g>
                </g>
              </symbol>

              <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024" id="ico-success">
                <path fill="#fff" d="M512 64a448 448 0 1 1 0 896 448 448 0 0 1 0-896zm-55.808 536.384-99.52-99.584a38.4 38.4 0 1 0-54.336 54.336l126.72 126.72a38.272 38.272 0 0 0 54.336 0l262.4-262.464a38.4 38.4 0 1 0-54.272-54.336L456.192 600.384z"></path>
              </symbol>

              <symbol fill="#fff" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="ico-info">
                <path d="M12,2A10,10,0,1,0,22,12,10,10,0,0,0,12,2Zm1,15a1,1,0,0,1-2,0V11a1,1,0,0,1,2,0ZM12,8a1.5,1.5,0,1,1,1.5-1.5A1.5,1.5,0,0,1,12,8Z"></path>
              </symbol>

              <symbol fill="#fff" version="1.1" id="ico-warning" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" viewBox="0 0 554.2 554.199">
                <g>
                  <path d="M538.5,386.199L356.5,70.8c-16.4-28.4-46.7-45.9-79.501-45.9c-32.8,0-63.1,17.5-79.5,45.9L12.3,391.6
                    c-16.4,28.4-16.4,63.4,0,91.8C28.7,511.8,59,529.3,91.8,529.3H462.2c0.101,0,0.2,0,0.2,0c50.7,0,91.8-41.101,91.8-91.8
                    C554.2,418.5,548.4,400.8,538.5,386.199z M316.3,416.899c0,21.7-16.7,38.3-39.2,38.3s-39.2-16.6-39.2-38.3V416
                    c0-21.601,16.7-38.301,39.2-38.301S316.3,394.3,316.3,416V416.899z M317.2,158.7L297.8,328.1c-1.3,12.2-9.4,19.8-20.7,19.8
                    s-19.4-7.7-20.7-19.8L237,158.6c-1.3-13.1,5.801-23,18-23H299.1C311.3,135.7,318.5,145.6,317.2,158.7z"></path>
                </g>
              </symbol>

              <symbol fill="#fff" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="ico-cross">
                <path d="M6.99486 7.00636C6.60433 7.39689 6.60433 8.03005 6.99486 8.42058L10.58 12.0057L6.99486 15.5909C6.60433 15.9814 6.60433 16.6146 6.99486 17.0051C7.38538 17.3956 8.01855 17.3956 8.40907 17.0051L11.9942 13.4199L15.5794 17.0051C15.9699 17.3956 16.6031 17.3956 16.9936 17.0051C17.3841 16.6146 17.3841 15.9814 16.9936 15.5909L13.4084 12.0057L16.9936 8.42059C17.3841 8.03007 17.3841 7.3969 16.9936 7.00638C16.603 6.61585 15.9699 6.61585 15.5794 7.00638L11.9942 10.5915L8.40907 7.00636C8.01855 6.61584 7.38538 6.61584 6.99486 7.00636Z"></path>
              </symbol>

        </svg>

    </body>
</html>