{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>

    <link rel="stylesheet" href="{% static 'styles/general.css' %}">
    <link rel="stylesheet" href="{% static 'styles/profile.css' %}">
    <link rel="stylesheet" href="{% static 'styles/settings.css' %}">
</head>
    <body>
        <div class="profile">
            <div class="profile-head">
                <div class="profile-head-section">
                    <img src="{% static 'pics/pfp/placeholder.png' %}" alt="Profile picture" class="profile-pic">
                    <p class="username">{{ user.username }}</p>
                    <p class="email">{{ user.email }}</p>
                </div>

                <ul class="profile-menu">
                    <li data-selected="true">Stats</li>
                    <li data-selected="false">Shop</li>
                    <li data-selected="false">Settings</li>
                    <li data-selected="false">Help</li>
                    <li data-selected="false">FAQ</li>
                </ul>

            </div>

            <hr>
    

            <div class="profile-body">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        
    </body>
</html>