<div class="settings">
    <h1>Account Settings</h1>

    <div class="container">
        <form action="/" class="change-form">

            <div>
                <label for="username">Username</label>
                <input name="username" type="text" placeholder="Username" value="rude" class="input" id="username" data-editable="false">
            </div>

            <div>
                <label for="email">E-mail</label>
                <input name="email" type="text" placeholder="E-mail" value="rude@smth.com" class="input" id="email" data-editable="false">
            </div>

            <div>
                <label for="password">Password</label>
                <input name="oldPassword" type="password" placeholder="Old password" class="input" id="password" data-editable="false">
            </div>

            <div class="input-group">
                <input type="password" placeholder="New password" name="newPassword" class="input">
                <input type="password" placeholder="Confirm new password" name="newPassword-conf" class="input">
            </div>    
            
            <div class="input-group">
                <input type="submit" value="Save" class="save">
                <input type="submit" value="Delete profile" class="delete">

            </div>

        </form>
    </div>
</div>