.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.wrapper > * {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.word-container {
    gap: 1rem;
    padding: 0 .5rem;
}

.letter {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    text-transform: capitalize;
    transform-style: preserve-3d;
    font-size: 2em;
    width: 5rem;
    aspect-ratio: 1;
    user-select: none;
    background-color: var(--surface);
    border-radius: 5px;
    transition: transform 500ms, scale 250ms;
}
.letter[data-found="true"] {
    pointer-events: none;
    transform: rotateY(180deg);
}
.letter:hover {
    scale: 1.2;
}
.letter:first-child:nth-last-child()

.letter-container {
    perspective: 400px;
}

.letter-front,
.letter-back {
    position: absolute;

    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 5px;
    backface-visibility: hidden;
}

.letter-back {
    transform: rotateY(180deg);
    background-color: green;
}

.keyboard-wrapper {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 0 1rem;
    /* opacity: .5;
    pointer-events: none; */
}
.keyboard-row {
    display: flex;
    justify-content: center;
    gap: .5rem;
}
.keyboard-button {
    width: 100%;
    aspect-ratio: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1rem;
    font-size: 1.3em;
    background-color: var(--surface);

    user-select: none;
    cursor: default;
    text-transform: uppercase;

    border-radius: 5px;

    outline: none;
}
.keyboard-button-big {
    width: 6rem;
    aspect-ratio: 2;
}

@media (width < 1000px) {
    .letter {
        font-size: 1.5em;
    }
}
@media (width < 800px) {
    .letter {
        font-size: 1.2em;
    }
    .word-container {
        gap: .5rem;
    }
}

@media (width < 600px) {
    .keyboard-button {
        padding: .7rem;
        font-size: 1.1em;
    }
    .letter {
        font-size: 1.7em;
        width: 4rem;
    }
    .letter:first-child:nth-last-child(15),
    .letter:first-child:nth-last-child(15) ~ .letter,
    .letter:first-child:nth-last-child(14),
    .letter:first-child:nth-last-child(14) ~ .letter,
    .letter:first-child:nth-last-child(13),
    .letter:first-child:nth-last-child(13) ~ .letter {
        font-size: 1em;
    }
}
@media (width < 500px) {
    .keyboard-button {
        padding: .5rem;
        font-size: 1em;
        border-radius: 2px;
    }
    .letter {
        font-size: 1.4em;
        width: 3rem;
    }
    .keyboard-wrapper {
        min-width: 100%;
        gap: .2rem;
    }
    .keyboard-row {
        gap: .2rem;
    }
}

.keyboard-button[data-selected="true"] {
    background-color: var(--secondary);
    color: var(--on-secondary);
}

.error {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: red;
    padding: .5rem 1rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transform: translateY(-100%);
    transition: translateX 500ms;
}

/* @keyframes open-letter {
    0% {
        scale: 1.2;
    }
    100% {
        scale: 1;
    }
} */

@keyframes press {
    50% {
        scale: .8;
    }

    to {
        scale: 1;
    }
}
.press {
    animation: press 100ms linear;
}


@keyframes rotate {
    from {
        transform: rotateY('0');
    }
    to {
        transform: rotateY('180');
    }
}
.rotate { 
    animation: rotate 1s forwards;
}

@keyframes showerror {
    from {
        transform: translate(-50%, -100%);
    }
    5% {
        transform: translate(-50%, 0);
    }
    95% {
        transform: translate(-50%, 0);
    }
    to {
        transform: translate(-50%, -100%);
    }
}
.showerror {
    animation: showerror 4s linear;
}