.wrapper {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: start;
    gap: 1rem;

    padding: 1rem 1rem;
}
.wrapper > * {
    background-color: var(--surface);
    border-radius: 5px;
}

.menu {
    min-width: 250px;

    display: flex;
    flex-direction: column;
}
.menu a {
    padding: 1rem;
    
    background-color: var(--surface);
    text-decoration: none;
    color: var(--on-surface);
    opacity: .8;
    font-weight: 600;
    font-size: 1.1em;

    border-top: 1px solid var(--background);
    /* border-radius: 5px; */

    display: flex;
    gap: 1rem;
}
.menu a:first-child {
    border-top: none;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.menu a:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.menu a:hover {
    opacity: 1;
}
.menu a span {
    display: flex;
    align-items: center;
}

.section {
    /* height: 100%; */
    width: 100%;

    padding: 1rem 2rem;
}

.setting {
    width: 70%;
    max-width: 900px;
    height: 2rem;

    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.setting input,
.setting select {
    width: 50%;
    max-width: 400px;
    
    padding: 0 .5rem;

    font-size: 1em;
    font-weight: 400;

    background-color: #333;
    color: var(--on-surface);

    border: 1px solid transparent;
    border-radius: 3px;
    outline: none;
}
.idle,
.setting:has(.idle) label {
    /* background-color: transparent !important; */
    pointer-events: none;
}
.idle {
    background-color: transparent !important;
}

.setting input:focus {
    border: 1px solid var(--on-surface);
}
.setting label {
    display: flex;
    align-items: center;
    margin-right: auto;
}
.setting p {
    width: 1px;
    display: flex;
    align-items: center;
    
    padding: 0 1rem;

    color: var(--primary);
    text-decoration: underline;
    cursor: pointer;
    user-select: none;
}

form button {
    padding: .7rem 1.7rem;

    font-weight: 600;

    border: none;
    border-radius: 5px;

    background-color: var(--secondary);
}


.change-info {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 1rem;

    padding: 1rem;

    right: 1rem;

    border-radius: 5px;

    transform: translateX(calc(100% + 1rem));
    /* transition: transform 250ms linear; */
}

.fake-change-activate {
    visibility: hidden;
}
.notavailable {
    cursor: not-allowed;
}
.notavailable a {
    pointer-events: none;
    user-select: none;
}

@keyframes showerror {
    5% {
        transform: translateX(0);
    }
    
    95% {

        transform: translateX(0);
    }
    to {
        transform: translateX(calc(100% + 1rem));
    }
}
.showerror {
    animation: showerror 5s linear;
}